body,
h1,
h2,
p,
a,
li,
ul {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Roboto", sans-serif;
}
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

header {
  background: #171d26;
  padding: 64px 0 128px 0;
}

.menu-nav {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
}

.menu-nav li + li {
  margin-left: 32px;
}

.menu-nav li a {
  color: #f0f3f7;
  font-weight: 700;
}

.header-container {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.intro-info {
  margin: 128px 0;
  z-index: 0;
  flex: 1;
}

.intro-info h1 {
  font-size: 3em;
  color: #f0f3f7;
}

.intro-info h1 span {
  color: #3e4a59;
}

.intro-info p {
  font-size: 2.25em;
  padding-top: 16px;
  font-weight: 700;
  color: #f0f3f7;
}

.intro-info p span {
  color: #3e4a59;
}

.intro-info img {
  position: absolute;
  top: 6%;
  right: 66%;
  z-index: -1;
}

.intro-foto {
  flex: 1;
}

.sobremim {
  background: none;
  border: 3px solid #ff725e;
  padding: 16px 64px;
  margin-top: 64px;
}

.sobremim a {
  padding: 5px;
  color: #ff725e;
  font-weight: 700;
  font-size: 1.5em;
}

/* PROJETOS */

.projetos {
  padding: 64px 0;
}

.projetos > h2 {
  font-size: 2.25em;
  text-align: center;
  font-size: #2e3743;
  padding-bottom: 16px;
}

.projetos > p {
  text-align: center;
  font-size: 1.125em;
}

.projetos-container {
  max-width: 960px;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.projeto {
  padding: 64px 0;
}

.azul {
  background: #171d26;
}

.branco {
  color: #f0f3f7;
}

.projeto-info {
  align-self: center;
}

.projeto-info span {
  color: #727b86;
  font-weight: 700;
}

.projeto-info span::after {
  content: "";
  display: block;
  width: 100%;
  background: #2e3743;
  height: 2px;
  margin: 8px 0 0 0;
}

.projeto-info h2 {
  margin-top: 16px;
  color: #2e3743;
}

.btn-projeto {
  background: none;
  border: 3px solid #ff725e;
  padding: 16px 64px;
  margin-top: 32px;
}

.btn-projeto a {
  font-size: 1em;
  color: #ff725e;
  font-weight: 700;
  padding: 5px;
}
